<div class="main">
<div class="header">
     <a href="#default" class="logo">NETFLIX</a>
    <div class="header-left">
              <a routerLink="/list">Home</a>
              <a href="#contact">TV Shows</a>
              <a href="#about">Movies</a>
              <a href="#contact">Recently Added</a>
              <a href="#about">MyList</a>
      <span class="header-right">  <a><img src="../../assets/images/icons8-search-30.png"></a>
 
        <a>CHILDREN</a>
      <a> <img src="../../assets/images/icons8-notification-26.png"></a> 
      <a> <img class="profile" src="../../../assets/images/download.jpg"></a> 
     </span>   </div>
        
  </div>

  
</div>
