<form class="container" #user="ngForm" (submit)="submit(user)">
  <div ngModelGroup="contact">
    <div class="form-group">
      <label for="firstName">First Name</label
      ><input
        ngModel
        name="firstName"
        id="firstName"
        type="text"
        class="form-control"
        (change)="log(firstName)"
        #firstName="ngModel"
        required
      />
      <br />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="!firstName.valid && firstName.touched"
      >
        First Name is invalid
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label
    ><textarea
      #comment
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <button class="btn btn-primary" [disabled]="!user.valid">Submit</button>
</form>
