<!-- <div class="main"> -->

<!-- 
<div class="header">
     <a href="#default" class="logo">NETFLIX</a>
    <div class="header-left">
              <a routerLink="/list">Home</a>
              <a href="#contact">TV Shows</a>
              <a href="#about">Movies</a>
              <a href="#contact">Recently Added</a>
              <a href="#about">MyList</a>
            </div>
        <div class="header-right">
          
            <a><img src="../../../assets/images/icons8-search-30.png"></a>
 
            <a>CHILDREN</a>
          <a> <img src="../../../assets/images/icons8-notification-26.png"></a> 
          <a> <img style="height:30px" src="../../../assets/images/download.jpg"></a> 
      </div>
  </div>

  <div id="demoFont">Memories<br/> of the <br/>Alhambra</div>
  <div class="discription">While looking for the cryptic creator of an innovative augmented-<br/>reality game, an investment firm executive meets a woman who <br/>runs a hostel in Spain. </div>
  <div class="buttons">
      <button><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Play</button>
      <button><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;My List</button>
      <button><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;More info</button>
  </div>



</div> -->
