.buttons{
    position: absolute;
    margin-left:4%;
    margin-top:30%;
    opacity: 0.6;
  background-color: red;
}
button{
    position: absolute;
    margin-left:320px;
    width:140px;
    height:43px;
    color:white;
    background-color: rgba(128, 128, 128, 0.151);
   
}

