  
  #demoFont {
      position: absolute;
    margin-top:11%;
    margin-left:5%;
    text-align:left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #f1a65e;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  }
  .discription
  {
    position: absolute;
    margin-top:24%;
      color:rgba(255, 255, 255, 0.726);
      margin-left:5%;
      text-align:left;
      font-size: 20px;

  }